body {
    font-family: Arial, Helvetica, sans-serif,sans-serif;
    font-size: 18px;
    color: #191414;
    font-weight: 200;
    background-color: #ffffff;
}

a {
    color: #1DB954;
}

.gft-footer {
    margin-bottom: 0;
    padding: 2rem;
    position: fixed;
}

.gft-footer section {
    text-align: center;
}

.navbar {
    color: #191414;
    border-bottom: 1px solid;
    border-bottom-color: #dddddd;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1140px;
    /* height: 100%; */
    /* min-height: 720px; */
}

#main-body {
    margin-top: 80px !important;
}

.gatter{
 height: 100%;
 min-height: 720px; 
}

.loading-spinner {
    position: block;
    max-width: 20%;
    margin-top: auto;
    margin-bottom: auto
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.clickable{
    cursor: pointer;
}

.form-control:focus .form-control:active{
    color: #191414;
    border-color: #1DB954;
}

.btn-primary, .btn-primary:hover{
    background-color: #1DB954 !important;
    border-color: #1DB954 !important;
}

.bg-primary {
    background-color: #1DB954 !important;
}

#currently-playing-container{
    display: none !important;
}

.song-title{
    font-weight: bold;
    font-size: x-large;
}

.song-meta {
    font-weight: lighter;
    font-size: small;
}

.mb-currently-playing{
    margin-bottom: 6em !important;
}

.next-song{
    background-color: #1DB954;
}

.container-song-info {
    max-width: 480px !important;
}

.lyrics-line-break{
    white-space: pre-wrap;
}

.lyrics-container{
    max-height: 20em !important;
    overflow-y: auto !important;
}